<%- include('../layout',{title:'Thông báo'}) %>
<div class="content">
    <h1 class="contenth1">Tin nhắn</h1>
    <ul class="ulc">
        <% mess.forEach((m) => { %>
            <li class="lic">
                Đơn hàng:<%= m.Id %>
                Thời gian:<%= new Date(m.OrderDate).toLocaleString() %>
                Nội dung: "đã đặt: 
                <% content.forEach((c) => { %> 
                    <% if(c.OrderId==m.Id) { %> 
                        <%= c.Quantity %> <%= c.Name %>; 
                    <% } %> 
                <% }) %>"
                Tổng thiệt hại:<%= m.Total %>
            </li>
        <% }); %>
    </ul>
</div>
<style>
    .ulc {
      list-style-type: none;
      padding: 0;
      height: 50px;
    }
    .lic {
        height: 70px;
        width: 500px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #c2bfbf;
        border-radius: 30px;
    }
    .search-container {
    display: inline;
    text-align: right;
    margin: 50px auto;
    }

    .search-container input[type="text"] {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
    }

    .search-container button {
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .search-container button:hover {
        background-color: #0056b3;
    }
</style>