<%- include('header',{pageTitle:'Trang chủ'}) %>

<div class="main">

    <div class="men_text">
        <h1>Get Fresh<span>Food</span><br>in a Easy Way</h1>
    </div>

    <div class="main_image">
        <img src="/main_img.png">
    </div>

</div>

<p>
    Welcome to Clean Food - Natural Origins! 
    We bring you the experience of safe and quality grocery shopping right at your doorstep. 
    Here, we are confident in providing you with the freshest products, from clean and fresh vegetables to organic foods, 
    helping you build a healthy diet.
</p>

<div class="main_btn">
    <a href="#Menu">Order Now</a>
    <i class="fa-solid fa-angle-right"></i>
</div>

</section>



<!--About-->

<div class="about" id="About">
<div class="about_main">

    <div class="image">
        <img src="/Food-Plate.png">
    </div>

    <div class="about_text">
        <h1><span>About</span>Us</h1>
        <h3>Why Choose us?</h3>
        <p>
            With an intuitive interface and quick ordering options, 
            you can easily select and purchase your favorite products directly from your home. 
            We are committed to providing you with a convenient and reliable shopping space, 
            allowing you to enjoy clean eating every day without leaving the comfort of your home.
            <br><br>
            Let Clean Food be your trusted partner in health care and a healthy lifestyle. 
            Place your order today to explore the world of clean, safe, and quality food, right at your home!
        </p>
    </div>

</div>

<a href="#Menu" class="about_btn">Order Now</a>

</div>



<!--Menu-->

<div class="menu" id="Menu">
<h1>Our<span>Menu</span></h1>

<div class="menu_box">
    <% products.forEach((product) => { %>
      <div class="menu_card">
        <div class="menu_image">
            <a href="/products/<%= product.Id %>"><img src="/products/<%= product.Img %>"></a>
        </div>
  
        <div class="small_card">
          <i class="fa-solid fa-heart"></i>
        </div>
  
        <div class="menu_info">
          <a href="/products/<%= product.Id %>"><h2><%= product.Name %></h2></a>
          <p><%= product.ShortDes %></p>
          <h3><%= product.Price %> VNĐ</h3>
          <form action="/cart/products/<%= product.Id %>" method="POST">
            <label style="margin-left: 40px;" for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="1" min="1">
            <input type="hidden" id="price" name="price" value="<%= product.Price %>">
            <input type="hidden" id="img" name="img" value="<%= product.Img %>">
            <input type="hidden" id="name" name="name" value="<%= product.Name %>">
            <button class="menu_btn" type="submit">Add to Cart</button>
          </form>
        </div>
      </div>
    <% }); %>
  </div>
  
  <!-- Hiển thị phân trang -->
  <div class="pagination">
    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="/?page=<%= i %>&perPage=<%= perPage %>"><%= i %></a>
    <% } %>
  </div>
  

</div>




<!--Gallary-->

<div class="gallary" id="Gallary">
<h1>Our<span>Gallary</span></h1>

<div class="gallary_image_box">
    <div class="gallary_image">
        <img src="/gallary_1.jpg">

        <h3>Food</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
        </p>
        <a href="#Menu" class="gallary_btn">Order Now</a>
    </div>

    <div class="gallary_image">
        <img src="/gallary_2.jpg">

        <h3>Food</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
        </p>
        <a href="#Menu" class="gallary_btn">Order Now</a>
    </div>

    <div class="gallary_image">
        <img src="/gallary_3.jpg">

        <h3>Food</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
        </p>
        <a href="#Menu" class="gallary_btn">Order Now</a>
    </div>

    <div class="gallary_image">
        <img src="/gallary_4.jpg">

        <h3>Food</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
        </p>
        <a href="#Menu" class="gallary_btn">Order Now</a>
    </div>

    <div class="gallary_image">
        <img src="/gallary_5.jpg">

        <h3>Food</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
        </p>
        <a href="#Menu" class="gallary_btn">Order Now</a>
    </div>

    <div class="gallary_image">
        <img src="/gallary_6.jpg">

        <h3>Food</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
        </p>
        <a href="#Menu" class="gallary_btn">Order Now</a>
    </div>

</div>

</div>




<!--Review-->

<div class="review" style="height: 600px;" id="Review">
<h1>Customer<span>Review</span></h1>

<div class="review_box">
    <div class="review_card"style="height: 300px;">

        <div class="review_profile">
            <img src="/review_1.png">
        </div>

        <div class="review_text">
            <h2 class="name">John Deo</h2>

            <div class="review_icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            </div>

            <div class="review_social">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

    </div>

    <div class="review_card"style="height: 300px;">

        <div class="review_profile">
            <img src="/review_2.png">
        </div>

        <div class="review_text">
            <h2 class="name">John Deo</h2>

            <div class="review_icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            </div>

            <div class="review_social">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

    </div>

    <div class="review_card"style="height: 300px;">

        <div class="review_profile">
            <img src="/review_3.png">
        </div>

        <div class="review_text">
            <h2 class="name">John Deo</h2>

            <div class="review_icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            </div>

            <div class="review_social">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

    </div>

    <div class="review_card" style="height: 300px;">

        <div class="review_profile">
            <img src="/review_4.png">
        </div>

        <div class="review_text">
            <h2 class="name">John Deo</h2>

            <div class="review_icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            </div>

            <div class="review_social">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

    </div>

</div>

</div>





<!--Team-->

<div class="team" id="Team">
<h1>Our<span>Team</span></h1>

<div class="team_box">
    <div class="profile">
        <img src="/chef1.png">

        <div class="info">
            <h2 class="name">Phạm Đăng Khánh</h2>
            <p class="bio">MSV:20810340229</p>

            <div class="team_icon">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>

        </div>

    </div>

    <div class="profile">
        <img src="/chef2.png">

        <div class="info">
            <h2 class="name">Trần Thị Châm</h2>
            <p class="bio">MSV:20810340207</p>

            <div class="team_icon">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>

        </div>

    </div>

</div>

</div>



<!--Footer-->

<%- include('footer') %>